<%- include('partials/header') %>

    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel rem amet quae itaque officia ullam! Nemo, quasi. Libero suscipit non facilis sunt ea fuga, inventore maxime fugit tenetur tempora! Obcaecati pariatur doloribus molestiae ea quibusdam hic, at asperiores laboriosam perferendis, accusamus illo architecto possimus et cumque! Rerum, ab? Vero.</p>
    <a href="/my-account">My Account</a>

<%- include('partials/footer') %>